.dropdown{
    position: absolute;
    display: inline-block;
}



.dropbtn{

    font-size: 100px;
    top: 100px;
    right: 130px;
    position: fixed;
    
    
    

}


.dropcontent{
    display: none;
    position: absolute;
    box-shadow: 0px 8px 15px 0px rgba(0, 0, 0, 1);
    z-index: 1;
    min-width: 100px;
    padding: 10px;
}


.dropcontent a{
    display: block;
    padding: 30px 30px;

}

.dropdown:hover .dropcontent{

    display: block;
}




.dropdown{
    position: relative;
    display: inline-block;
}





.p1{
    position: fixed;
    top: 100px;
    left: 400px;

}

